venv/
__pycache__/
*.pkl
.env
mlruns/
RAG data/


airflowc_coms.txt
Tumikia Data.csv
Tumikia Data.xlsx
analysis_output.txt
analysis_v2.txt
male_abuse_2k_data.csv 
QualityOfCare.xlsx 
QualityOfCare.csv 
HIV_adherence_dataset.csv 
FedCycleData.csv 
CRT_dataset.csv

